<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.lifaapi.mapper.ChatMapper">

    <insert id="insert">
        INSERT INTO chatlog(chatName,chatText,chatMan,chatVips,chatTime)
        VALUES (#{chatName,jdbcType=VARCHAR},#{chatText,jdbcType=VARCHAR},
                #{chatMan,jdbcType=INTEGER},#{chatVips,jdbcType=VARCHAR},
                #{chatTime,jdbcType=TIMESTAMP})
    </insert>
    <select id="getChat" resultType="com.chen.lifaapi.entity.ChatLog">
        SELECT *
        FROM chatlog
    </select>

</mapper>